<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <link href="{{ site:url }}/css/common.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="/favicon.png" />
  <!-- <link rel="bookmark" href="/favicon.png" /> -->
</head>

<body>
  <div class="wrap">
    <div class="header radius black">
      <h2>
        <a href="{{ site:url  }}">{{ site: }}</a>
      </h2>
      <!-- <span class="right">为了最好体验 请使用Firefox,Chrome浏览</span> -->
    </div>
