<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }} xingdao blog</title>
        <meta name="keywords" content="{{  page.keywords }}onlyfu,fuweiyi,blog,logs,博客"/>
        <meta name="description" content="xingdao的博客,记录github" />
        <!--,不知道是什么先注释
                <meta name="baidu-site-verification" content="7P3zJDwukPDw2LOy" />
        不知道是什么先注释-->
        <link href="{{ site:url }}/css/common.css" rel="stylesheet" type="text/css" />
        <link href="/blog/prettify/prettify.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="/favicon.png"/>
        <link rel="bookmark" href="/favicon.png"/>
        <script type="text/javascript" src="/blog/jquery.js"></script>
        <script type="text/javascript" src="/blog/prettify/prettify.js"></script>
</head>
<body>
        <div class="wrap">
                <div class="header radius black">
                        <h2>
                                <a href="{{ site:url  }}">xingdao blog</a>
                        </h2>
                        <span class="right">为了最好体验 请使用Firefox,Chrome浏览</span>
                </div>