<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site:url }}/css/common.css"  type="text/css" />
  <link rel="stylesheet" href="{{ site:url }}/prettify/prettify.css" type="text/css"/>
  <script src="{{ site:url }}/prettify/prettify.js"></script>
</head>

<body>
  <div class="wrap">
    <div class="header radius black">
      <h2>
        <a href="{{ site:url  }}">{{ site.owner.name }}</a>
      </h2>
    </div>
